.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local History for Visual Studio Code
.history/

# Build/Bin directories
build/
bin/

# Executable files (assuming no extension)
*
!/**/
!*.*
!Makefile

# cpp object files
*.o
